.account {
  &-container {
    height: 100%;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
    align-items: center;
    color: var(--clr-dark);
  }

  &-logout {
    margin-left: auto;
    padding: 1em;
    border-radius: 5px;
    width: fit-content;
    font-weight: 600;
    color: var(--clr-main);
    background-color: var(--clr-acc-red);
    border: 2px solid var(--clr-main);

    &:hover {
      background-color: var(--clr-acc-red--hover);
    }

    &:focus {
      border: 2px solid var(--clr-dark);
    }
  }
}

.settings {
  &-title {
    margin-bottom: 0.8em;
  }

  &-section {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;

    a {
      display: block;
      width: fit-content;
      margin: 0.3em 0;
      padding: 0.3em 0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.avatar {
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
  background-color: var(--clr-light-grey);
}

.avatar__image {
  height: 50%;
  width: 50%;
}
