/* Main layout
========================== */

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  color: var(--clr-dark);
  padding: 10px;
}

#aside_container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main_container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
