/* Main layout
========================== */

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

#container {
  display: flex;
  gap: 10px;
  margin: auto;
}

#aside-container {
  background-color: var(--clr-main);
  box-shadow: var(--regular-box-shadow);
  color: var(--clr-dark);
  border-radius: 10px;
  padding: 30px;
  overflow: auto;
  width: 250px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-container {
  background-color: var(--clr-main);
  box-shadow: var(--regular-box-shadow);
  border-radius: 10px;
  width: 600px;
  height: 700px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}