.buttons {
  &-container {
    height: 100%;
    width: 100%;
    padding: 35px 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  &-section {
    margin: 5px 20px;

    &--title {
      margin-bottom: 20px;
      font-size: 1.1em;
    }
  }
}

.btn {
  width: fit-content;
  margin: 5px;
  border: none;
  cursor: pointer;

  &_regular {
    line-height: .9;
    padding: 10px 15px;
    font-weight: 600;
    font-size: .8em;
    border-radius: 8px;
    background-color: var(--clr-cold);
    color: var(--clr-dark);

    &:hover {
      background-color: var(--clr-acc-red);
      color: var(--clr-main);
      transition: background-color 200ms ease-in;
    }
  }

  &_secondary {
    line-height: .8;
    padding: 10px 15px;
    font-weight: 600;
    font-size: .75em;
    border-radius: 5px;

    &--add {
      background-color: var(--clr-acc-green);
      color: var(--clr-main);
    }

    &--delete {
      background-color: var(--clr-red);
      color: var(--clr-main);
    }

    &--over {
      background-color: var(--clr-light-grey);
      color: var(--clr-dark);
    }
  }

  &_icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 3px;
    background-color: var(--clr-cold);
    color: var(--clr-dark);
  
    &--checked {
      color: var(--clr-main);
    }

    &-ongoing {
      background-color: var(--clr-acc-yellow);

      &:hover {
        background-color: var(--clr-acc-green);
        color: var(--clr-main);
        transition: background-color 200ms ease-in;
      }
    }
    
    &-complete {
      background-color: var(--clr-acc-green);

      &:hover {
        background-color: var(--clr-acc-yellow);
        color: var(--clr-main);
        transition: background-color 200ms ease-in;
      }
    }

  }
}


.tag {
  cursor: pointer;
  border: none;
  width: fit-content;
  line-height: .6;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  font-size: .8em;
  background-color: var(--clr-cold);
  color: var(--clr-dark);
}

.info {
  &_icon {
    margin: 5px;
    width: 15px;
    height: 15px;
    color: var(--clr-dark);
  }
}

.loader {
  margin-right: 10px;
}
