.home {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 35px 40px;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    color: var(--clr-dark);

    h2 {
      font-size: 1.3em;
    }
  }

  &-logout {
    margin-left: auto;
    padding: 10px 15px;
    border-radius: 5px;
    width: fit-content;
    font-weight: 600;
    color: var(--clr-main);
    background-color: var(--clr-acc-red);
    border: 2px solid var(--clr-main);

    &:hover {
      background-color: var(--clr-acc-red--hover) ;
    }

    &:focus {
      border: 2px solid var(--clr-dark);
    }
  }
}

.settings {
  &-title {
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  &-section {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    a {
      display: block;
      width: fit-content;
      margin: 5px 0;
      padding: 5px 0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.avatar {
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
  background-color: var(--clr-light-grey);
}

.avatar__image {
  height: 50%;
  width: 50%;
}