/* Navigation
========================== */

.navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2em 1.5rem;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25em;
  }

  &-icon {
    width: 15px;
    height: 15px;
  }

  & > section {
    margin-bottom: 1.25em;
  }

  &-item {
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-link {
      display: block;
      margin-bottom: 0.15em;
      padding-bottom: 0.15em;
      border-bottom: 1px solid var(--clr-main);
      cursor: pointer;

      &__active {
        border-bottom: 1px solid var(--clr-dark);
      }
    }

    &-delete-icon {
      color: var(--clr-main);
    }
  }

  &-user {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 1.25em;
    cursor: pointer;
  }
}
