.summary {
  &_container {
    width: 80%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &_section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &_todolist {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
      font-weight: 600;
    }
  }
}
