/* User
========================== */

.user {
  &-container {
    width: 100%;
    min-width: 500px;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
  }

  &-title {
    font-size: 2em;
  }

  &-intro {
    width: 70%;
    line-height: 30px;
    font-size: 1.1em;
    text-align: center;
  }

  &-sign-buttons {
    display: flex;
    width: fit-content;
    gap: 1.5em;
  }

  &-sign-button {
    padding: 1em 1.75em;
    border-radius: 5px;
    width: fit-content;
    font-weight: 600;
    color: var(--clr-main);
    background-color: var(--clr-acc-red);

    &:hover {
      background-color: var(--clr-acc-red--hover);
    }
  }
}
