:root {
  font-family: 'roboto', sans-serif;
  --clr-main: #f7f9f9;
  --clr-grey: #D5D8DC;
  --clr-dark: #1C2833;
  --clr-acc-green: #47e5bdff;
  --box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  background: radial-gradient(28.4% 56.65% at 50.13% 13.56%, rgba(255, 155, 106, 0.12) 0%, rgba(255, 155, 106, 0) 100%),radial-gradient(68.8% 137.23% at 79.33% -37.23%, rgba(255, 177, 78, 0.12) 0%, rgba(255, 177, 78, 0) 100%),radial-gradient(56.27% 112.23% at 100% -19.95%, rgba(246, 229, 37, 0.12) 1.04%, rgba(246, 229, 37, 0) 100%),radial-gradient(50.13% 100% at 0% 0%, rgba(255, 105, 72, 0.12) 0%, rgba(255, 133, 72, 0) 100%),#FFFFFF;
}

.container {
  width: 500px;
  height: fit-content;
  margin: auto;
  background-color: var(--clr-main);
  box-shadow: var(--box-shadow);
  color: var(--clr-dark);
  padding: 10px;
  border-radius: 10px;
}

.title {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.input {
  padding: 10px;
  display: flex;
  justify-content: space-between;

  &-field {
    color: var(--clr-dark);
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid var(--clr-grey);
    width: 100%;
    line-height: 30px;
    font-size: inherit;
    margin-right: 10px;

    &::placeholder {
      color: var(--clr-grey);
    }
  }

  &-button {
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: var(--clr-main);
    background-color: var(--clr-acc-green);
  }
}

.list {
  display: flex;
  flex-direction: column;

  &-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    gap: 10px;
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;

    &-checkbox {
      appearance: none;
      height: 1.3em;
      width: 1.3em;
      border-radius: 50%;
      border: none;
      box-shadow: var(--box-shadow);
      cursor: pointer;

      &--checked {
        background-color: var(--clr-acc-green);
      }
    }
  }
}

.list-complete {
  margin-top: 10px;
}

.chevron {
  cursor: pointer;
}


