:root {
  font-family: 'roboto', sans-serif;
  --clr-main: #f7f9f9;
  --clr-grey: #D5D8DC;
  --clr-dark: #1C2833;
  --clr-acc-green: #47e5bdff;
  --box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/* Fonts
========================== */

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

p {
  line-height: 20px
}

strong {
  font-weight: bold;
}